/*
    Defines the rules to style the Stockonix Dashboard.
*/

body {
	background-color: #073158;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Defines how all numbers, and buttons should be styled */
.type-number {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #00c48c;
}

.button {
	border-radius: 50%;

	border: none;
	outline: none;
	cursor: pointer;
}

#edit-widget-button {
	position: absolute;
	top: 3%;
	right: 3%;

	background: #ffab45;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

#navigate-to-metrics-button {
	position: absolute;
	top: 3%;
	right: 16%;

	background: #3bba9c;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Defines the appearance of both support spans */
#denomination {
	position: relative;
	top: -10px;
	left: 10px;

	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;

	color: #909090;
}

#percent-change {
	position: relative;
	top: -2px;
	left: 10px;

	font-size: 14px;
}

/* Defines the container for each stock*/
#stock-container {
	position: absolute;
	width: auto;
	height: auto;
	padding: 20px;

	color: rgb(255, 255, 255);
	background: radial-gradient(
		91.71% 118.06% at 2.29% 3.32%,
		#868a91 0%,
		#61656e 53.27%,
		#454953 100%
	);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

#last-updated {
	position: relative;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 90%);

	color: #bbbbbb;
}
