/*
    Defines the rules to style the Stockonix Dashboard.
*/
body {
	background-color: #073158;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Defines how all numbers, and buttons should be styled */
.type-number {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #00c48c;
}

.button {
	border-radius: 50%;

	border: none;
	outline: none;
	cursor: pointer;
}

.button:hover {
	box-shadow: 0px 15px 25px -5px rgba(79, 91, 102, 0.4);
	transform: scale(1.03);
}

/* Defines the styling rules for each button, and assigning them to an animation, and their own unique color*/
#edit-widget-button {
	position: absolute;
	top: 3%;
	right: 3%;

	background: #ffab45;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

#navigate-to-metrics-button {
	position: absolute;
	top: 3%;
	right: 16%;

	background: #3bba9c;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Defines the appearance of both support spans displaying the current price currency denomination, along with percent change */
#denomination {
	position: relative;
	top: -10px;
	left: 10px;

	font-family: "Be Vietnam Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;

	color: #8d8686;
}

#price-change {
	position: relative;
	top: -5px;
	right: -10px;
}

#percent-change {
	position: relative;
	top: -2px;
	left: 10px;

	font-size: 14px;
}

/* Defines the style rules for the initial state of each widget.*/
#stock-container-initial {
	position: absolute;
	width: 100px;
	height: 100px;
	padding: 20px;

	color: rgb(255, 255, 255);
	background: radial-gradient(
		91.71% 118.06% at 2.29% 3.32%,
		#868a91 0%,
		#61656e 53.27%,
		#454953 100%
	);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;

	cursor: pointer;
}

#add-stock {
	display: flex;
	transform: translate(25%, -25%);

	font-size: 50px;

	color: aliceblue;
}

#stock-container-initial:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);

	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
}

/* Defines the styling rules for each stock container, by flexibly formatting each container based on its information*/
#stock-container {
	position: absolute;
	width: auto;
	height: auto;
	padding: 20px;

	color: rgb(255, 255, 255);
	background: radial-gradient(
		91.71% 118.06% at 2.29% 3.32%,
		#868a91 0%,
		#61656e 53.27%,
		#454953 100%
	);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

/* Defines the JS data objects style rules by centering at the bottom of the container */
#last-updated {
	position: relative;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 90%);

	color: #bbbbbb;
}
